# Database
DATABASE_URL="postgresql://gitlight:password@localhost:5432/gitlight"

# Auth.js
AUTH_SECRET="your-auth-secret-here-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Git Repositories Path
REPOS_PATH="/data/repositories"

# Server
NODE_ENV="development"
